<div class=" w-[19rem] overflow-hidden rounded-lg bg-white  transition-shadow duration-300">
  <!-- Image placeholder -->
  <div id="image-div" class="h-[25rem] bg-gray-200 overflow-hidden p-4 rounded-lg hover:shadow-lg transition-shadow relative">

    <img class="absolute inset-0 w-full h-full object-cover bg-black/40 hover:scale-105 transition-all" src="https://img.freepik.com/free-photo/view-3d-space-rocket-model_23-2151113333.jpg?t=st=1739390089~exp=1739393689~hmac=8386b76da7be59b8c5d4672b17ab8d1be4a80b4cc8d65b33cd7125922585bfbd&w=1380">


    <div class="absolute bottom-2 right-2 p-2 bg-white rounded-lg hover:scale-110">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart"><circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/></svg>
    </div>

    <div class="absolute top-2 left-2 py-1 px-2 text-white bg-black rounded-lg text-sm">
      Limited Stock
    </div>

  </div>

  <div class="pt-5">
    <!-- Category -->
    <p class="mb-2 text-sm font-semibold uppercase text-gray-500">
      Men's Trousers
    </p>

    <!-- Product Name -->
    <h3 class="truncate text-lg font-medium text-gray-900">
      Slim Lyocell Trousers
    </h3>

    <!-- Price -->
    <div class="mt-2 flex items-center">
      <span class="text-xl font-bold text-gray-900">$50</span>
    </div>
  </div>
</div>
