<app-hero></app-hero>
<section class="flex justify-center gap-5 m-10">
  <app-category-card></app-category-card>
  <app-category-card></app-category-card>
  <app-category-card></app-category-card>
</section>

<section class="text-center w-full flex justify-center items-center p-10">
  <span class="text-2xl ">Find your item</span>
</section>

<!--Shop Section-->
<section class="flex flex-wrap gap-5 justify-center">
  <app-product-card></app-product-card>
  <app-product-card></app-product-card>
  <app-product-card></app-product-card>
  <app-product-card></app-product-card>
</section>


<section class="p-10 flex justify-evenly items-center">
  <div>
    <div class="max-w-md p-6 rounded-lg   transition-all duration-200 ">
      <div class="flex flex-col items-center text-center">
        <!-- Lock Icon -->
        <div class="mb-4 text-blue-600">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
          </svg>
        </div>

        <!-- Heading -->
        <h2 class="mb-2 text-2xl text-gray-900">
          Secure checkout
        </h2>

        <!-- Description -->
        <p class="text-gray-600">
          Shop with confidence using our encrypted payment system that protects your sensitive information.
        </p>
      </div>
    </div>
  </div>
  <div>
    <div class="max-w-md p-6 rounded-lg  transition-all duration-200 ">
      <div class="flex flex-col items-center text-center">
        <!-- Lock Icon -->
        <div class="mb-4 text-blue-600">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
          </svg>
        </div>

        <!-- Heading -->
        <h2 class="mb-2 text-2xl  text-gray-900">
          Secure checkout
        </h2>

        <!-- Description -->
        <p class="text-gray-600">
          Shop with confidence using our encrypted payment system that protects your sensitive information.
        </p>
      </div>
    </div>
  </div>
  <div>
    <div class="max-w-md p-6 rounded-lg   transition-all duration-200 ">
      <div class="flex flex-col items-center text-center">
        <!-- Lock Icon -->
        <div class="mb-4 text-blue-600">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
          </svg>
        </div>

        <!-- Heading -->
        <h2 class="mb-2 text-2xl  text-gray-900">
          Secure checkout
        </h2>

        <!-- Description -->
        <p class="text-gray-600">
          Shop with confidence using our encrypted payment system that protects your sensitive information.
        </p>
      </div>
    </div>
  </div>
</section>

<!--Extra Section-->
<section>
  <!-- Features -->
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32">
      <div>
        <img class="rounded-xl" src="https://images.unsplash.com/photo-1648737963503-1a26da876aca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&h=900&q=80" alt="Features Image">
      </div>
      <!-- End Col -->

      <div class="mt-5 sm:mt-10 lg:mt-0">
        <div class="space-y-6 sm:space-y-8">
          <!-- Title -->
          <div class="space-y-2 md:space-y-4">
            <h2 class="font-bold text-3xl lg:text-4xl text-gray-800">
              We make your desk a lot  more fun
            </h2>
            <p class="text-gray-500">
              Besides working with world class companies we also make our own line of beautiful well designed and printed desk ornaments
            </p>
          </div>
          <!-- End Title -->

          <!-- List -->
          <ul class="space-y-2 sm:space-y-4">
            <li class="flex gap-x-3">
            <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
              <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </span>
              <div class="grow">
              <span class="text-sm sm:text-base text-gray-500">
                <span class="font-bold">Bold & Beautiful </span> Colors
              </span>
              </div>
            </li>

            <li class="flex gap-x-3">
            <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
              <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </span>
              <div class="grow">
              <span class="text-sm sm:text-base text-gray-500">
                Quality  <span class="font-bold">materials</span>
              </span>
              </div>
            </li>

            <li class="flex gap-x-3">
            <span class="mt-0.5 size-5 flex justify-center items-center rounded-full bg-blue-50 text-blue-600">
              <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="20 6 9 17 4 12"/></svg>
            </span>
              <div class="grow">
              <span class="text-sm sm:text-base text-gray-500">
                User Experience Design
              </span>
              </div>
            </li>
          </ul>
          <!-- End List -->
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Features -->
</section>

<section class="text-center w-full flex justify-center items-center p-10">
  <span class="text-2xl ">Reputable brands</span>
</section>

<!--Brands Section-->
<section class="p-10 flex justify-evenly items-center">
  <div class="h-20">
    <img class="h-20" src="https://www.nasa.gov/wp-content/uploads/2018/07/s75-31690.jpeg">
  </div>
  <div class="h-20">
    <img class="h-20" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Blue_Origin_new_logo.svg/1200px-Blue_Origin_new_logo.svg.png">
  </div>
  <div class="h-20">
    <img class="h-20" src="https://logolook.net/wp-content/uploads/2022/07/F1-Emblem.png">
  </div>
  <div class="h-20">
    <img class="h-20" src="https://logos-world.net/wp-content/uploads/2020/09/SpaceX-Logo.png">
  </div>
  <div class="h-20">
    <img class="h-20" src="https://upload.wikimedia.org/wikipedia/en/thumb/d/df/Scuderia_Ferrari_HP_logo_24.svg/1200px-Scuderia_Ferrari_HP_logo_24.svg.png">
  </div>
  <div class="h-20">
    <img class="h-20" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cc/Rocket_Lab_logo.svg/2560px-Rocket_Lab_logo.svg.png">
  </div>
</section>

<!--Meet the team-->

<!--Contact us-->
<section>
  <!-- Contact Us -->
<!--  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">-->
<!--    <div class="max-w-2xl lg:max-w-5xl mx-auto">-->
<!--      <div class="text-center">-->
<!--        <h1 class="text-3xl font-bold text-gray-800 sm:text-4xl">-->
<!--          Contact us-->
<!--        </h1>-->
<!--        <p class="mt-1 text-gray-600">-->
<!--          We'd love to talk about how we can help you.-->
<!--        </p>-->
<!--      </div>-->

<!--      <div class="mt-12 grid items-center lg:grid-cols-2 gap-6 lg:gap-16">-->
<!--        &lt;!&ndash; Card &ndash;&gt;-->
<!--        <div class="flex flex-col border rounded-xl p-4 sm:p-6 lg:p-8">-->
<!--          <h2 class="mb-8 text-xl font-semibold text-gray-800">-->
<!--            Fill in the form-->
<!--          </h2>-->

<!--          <form>-->
<!--            <div class="grid gap-4">-->
<!--              &lt;!&ndash; Grid &ndash;&gt;-->
<!--              <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">-->
<!--                <div>-->
<!--                  <label for="hs-firstname-contacts-1" class="sr-only">First Name</label>-->
<!--                  <input type="text" name="hs-firstname-contacts-1" id="hs-firstname-contacts-1" class="py-3 border px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="First Name">-->
<!--                </div>-->

<!--                <div>-->
<!--                  <label for="hs-lastname-contacts-1" class="sr-only">Last Name</label>-->
<!--                  <input type="text" name="hs-lastname-contacts-1" id="hs-lastname-contacts-1" class="py-3 border px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Last Name">-->
<!--                </div>-->
<!--              </div>-->
<!--              &lt;!&ndash; End Grid &ndash;&gt;-->

<!--              <div>-->
<!--                <label for="hs-email-contacts-1" class="sr-only">Email</label>-->
<!--                <input type="email" name="hs-email-contacts-1" id="hs-email-contacts-1" autocomplete="email" class=" border py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Email">-->
<!--              </div>-->

<!--              <div>-->
<!--                <label for="hs-phone-number-1" class="sr-only">Phone Number</label>-->
<!--                <input type="text" name="hs-phone-number-1" id="hs-phone-number-1" class="border py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Phone Number">-->
<!--              </div>-->

<!--              <div>-->
<!--                <label for="hs-about-contacts-1" class="sr-only">Details</label>-->
<!--                <textarea id="hs-about-contacts-1" name="hs-about-contacts-1" rows="4" class="border py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Details"></textarea>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; End Grid &ndash;&gt;-->

<!--            <div class="mt-4 grid">-->
<!--              <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">Send inquiry</button>-->
<!--            </div>-->

<!--            <div class="mt-3 text-center">-->
<!--              <p class="text-sm text-gray-500">-->
<!--                We'll get back to you in 1-2 business days.-->
<!--              </p>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--        &lt;!&ndash; End Card &ndash;&gt;-->

<!--        <div class="divide-y divide-gray-200">-->
<!--          &lt;!&ndash; Icon Block &ndash;&gt;-->
<!--          <div class="flex gap-x-7 py-6">-->
<!--            <svg class="shrink-0 size-6 mt-1.5 text-gray-800" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"/><path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"/><path d="M12 17h.01"/></svg>-->
<!--            <div class="grow">-->
<!--              <h3 class="font-semibold text-gray-800">Knowledgebase</h3>-->
<!--              <p class="mt-1 text-sm text-gray-500">We're here to help with any questions or code.</p>-->
<!--              <a class="mt-2 inline-flex items-center gap-x-2 text-sm font-medium text-gray-600 hover:text-gray-800 focus:outline-none focus:text-gray-800" href="#">-->
<!--                Contact support-->
<!--                <svg class="shrink-0 size-2.5 transition ease-in-out group-hover:translate-x-1 group-focus:translate-x-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.975821 6.92249C0.43689 6.92249 -3.50468e-07 7.34222 -3.27835e-07 7.85999C-3.05203e-07 8.37775 0.43689 8.79749 0.975821 8.79749L12.7694 8.79748L7.60447 13.7596C7.22339 14.1257 7.22339 14.7193 7.60447 15.0854C7.98555 15.4515 8.60341 15.4515 8.98449 15.0854L15.6427 8.68862C16.1191 8.23098 16.1191 7.48899 15.6427 7.03134L8.98449 0.634573C8.60341 0.268455 7.98555 0.268456 7.60447 0.634573C7.22339 1.00069 7.22339 1.59428 7.60447 1.9604L12.7694 6.92248L0.975821 6.92249Z" fill="currentColor"/>-->
<!--                </svg>-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; End Icon Block &ndash;&gt;-->

<!--          &lt;!&ndash; Icon Block &ndash;&gt;-->
<!--          <div class="flex gap-x-7 py-6">-->
<!--            <svg class="shrink-0 size-6 mt-1.5 text-gray-800" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14 9a2 2 0 0 1-2 2H6l-4 4V4c0-1.1.9-2 2-2h8a2 2 0 0 1 2 2v5Z"/><path d="M18 9h2a2 2 0 0 1 2 2v11l-4-4h-6a2 2 0 0 1-2-2v-1"/></svg>-->
<!--            <div class="grow">-->
<!--              <h3 class="font-semibold text-gray-800">FAQ</h3>-->
<!--              <p class="mt-1 text-sm text-gray-500">Search our FAQ for answers to anything you might ask.</p>-->
<!--              <a class="mt-2 inline-flex items-center gap-x-2 text-sm font-medium text-gray-600 hover:text-gray-800 focus:outline-none focus:text-gray-800" href="#">-->
<!--                Visit FAQ-->
<!--                <svg class="shrink-0 size-2.5 transition ease-in-out group-hover:translate-x-1 group-focus:translate-x-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.975821 6.92249C0.43689 6.92249 -3.50468e-07 7.34222 -3.27835e-07 7.85999C-3.05203e-07 8.37775 0.43689 8.79749 0.975821 8.79749L12.7694 8.79748L7.60447 13.7596C7.22339 14.1257 7.22339 14.7193 7.60447 15.0854C7.98555 15.4515 8.60341 15.4515 8.98449 15.0854L15.6427 8.68862C16.1191 8.23098 16.1191 7.48899 15.6427 7.03134L8.98449 0.634573C8.60341 0.268455 7.98555 0.268456 7.60447 0.634573C7.22339 1.00069 7.22339 1.59428 7.60447 1.9604L12.7694 6.92248L0.975821 6.92249Z" fill="currentColor"/>-->
<!--                </svg>-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; End Icon Block &ndash;&gt;-->

<!--          &lt;!&ndash; Icon Block &ndash;&gt;-->
<!--          <div class=" flex gap-x-7 py-6">-->
<!--            <svg class="shrink-0 size-6 mt-1.5 text-gray-800" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m7 11 2-2-2-2"/><path d="M11 13h4"/><rect width="18" height="18" x="3" y="3" rx="2" ry="2"/></svg>-->
<!--            <div class="grow">-->
<!--              <h3 class="font-semibold text-gray-800">Developer APIs</h3>-->
<!--              <p class="mt-1 text-sm text-gray-500">Check out our development quickstart guide.</p>-->
<!--              <a class="mt-2 inline-flex items-center gap-x-2 text-sm font-medium text-gray-600 hover:text-gray-800 focus:outline-none focus:text-gray-800" href="#">-->
<!--                Contact sales-->
<!--                <svg class="shrink-0 size-2.5 transition ease-in-out group-hover:translate-x-1 group-focus:translate-x-1" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                  <path fill-rule="evenodd" clip-rule="evenodd" d="M0.975821 6.92249C0.43689 6.92249 -3.50468e-07 7.34222 -3.27835e-07 7.85999C-3.05203e-07 8.37775 0.43689 8.79749 0.975821 8.79749L12.7694 8.79748L7.60447 13.7596C7.22339 14.1257 7.22339 14.7193 7.60447 15.0854C7.98555 15.4515 8.60341 15.4515 8.98449 15.0854L15.6427 8.68862C16.1191 8.23098 16.1191 7.48899 15.6427 7.03134L8.98449 0.634573C8.60341 0.268455 7.98555 0.268456 7.60447 0.634573C7.22339 1.00069 7.22339 1.59428 7.60447 1.9604L12.7694 6.92248L0.975821 6.92249Z" fill="currentColor"/>-->
<!--                </svg>-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; End Icon Block &ndash;&gt;-->

<!--          &lt;!&ndash; Icon Block &ndash;&gt;-->
<!--          <div class=" flex gap-x-7 py-6">-->
<!--            <svg class="shrink-0 size-6 mt-1.5 text-gray-800" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21.2 8.4c.5.38.8.97.8 1.6v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V10a2 2 0 0 1 .8-1.6l8-6a2 2 0 0 1 2.4 0l8 6Z"/><path d="m22 10-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 10"/></svg>-->
<!--            <div class="grow">-->
<!--              <h3 class="font-semibold text-gray-800">Contact us by email</h3>-->
<!--              <p class="mt-1 text-sm text-gray-500">If you wish to write us an email instead please use</p>-->
<!--              <a class="mt-2 inline-flex items-center gap-x-2 text-sm font-medium text-gray-600 hover:text-gray-800 focus:outline-none focus:text-gray-800" href="#">-->
<!--&lt;!&ndash;                example@site.com&ndash;&gt;-->
<!--              </a>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; End Icon Block &ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <!-- End Contact Us -->
</section>

